{% extends 'skeleton/base.html' %}

{% block head_css %}

    {{ block.super }}

    {% load staticfiles %}
    {% load compress %}

    {% compress css %}
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
    
        {% block app_css %}

        {% endblock %}
    {% endcompress %}

{% endblock %}

{% block body_content %}

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="/">Brand</a>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="master">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    {% block sidebar %} {% endblock %}
                </div>
                <div class="span9">
                    {% block main %} {% endblock %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
